{
  "root": true,
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["import", "unused-imports"],
  "settings": {
    "import/resolver": { "typescript": { "project": "./tsconfig.json" } }
  },
  "rules": {
    "@typescript-eslint/no-unused-vars": "warn",
    "import/no-unused-modules": "warn",
    "import/order": [
      "warn",
      {
        "groups": ["builtin", "external", "internal", "parent", "sibling", "index", "object", "type"],
        "newlines-between": "never",
        "alphabetize": { "order": "asc", "caseInsensitive": true }
      }
    ],
    "unused-imports/no-unused-imports": "warn"
  }
}
